.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
.gitignore
README.md
.env
.venv
venv
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules
.DS_Store
db.sqlite3
/media
/static